/* HTML, BODY {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  height: 500px;
  width: 500px;
  border: 1px solid black;
  margin: 10px auto;   
  position: relative;
}

.inner {
  height: 400px;
  width: 400px;
  background: lightcoral;
  position: relative;
  top: 50px;
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: lightslategrey;
  position: absolute; 
}

#circle-1 {
  top: 0;
  left: 0;
}

#circle-2 {
  top: 0;
  right: 0;
}

#circle-3 {
  bottom: 0;
  left: 0;
}

#circle-4 {
  bottom: 0;
  right: 0;
}

.hotjar {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: blue;
  position: fixed;  
  bottom: 50px;
  right: 50px;
  z-index: 10;
}

.sticky {
  background: seagreen;
  position: sticky;
  top: 10px
} */
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 30px;
  width: 30px;

}

header {
  background: #bada55;
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
  
  margin-left: 284px;

}

.nav-link {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  padding-right: 50px;
	/* justify-content: space-around; */
  cursor: pointer;

}

.btn1 {
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-left: 418px;

}

.mainBox {
  background: rgb(9, 9, 24);
  height: 100vh;
  
}

.innerBox {
  color: rgb(204, 207, 28);
  text-align: center;
  position: relative;
  float: left;
  bottom: 31px;
  top: 223px;
  

}

.innerBox > h3 {
  font-size: 50px;
}

.innerBox > p {
  color: #232911;
  word-wrap: break-word;
  text-align: center;
}

.innerTextBox {
  border: 2px solid rgb(99, 58, 58);
  
  padding-left: 343px;

  border-right-width: 2px;
  border-bottom-width: 2px;
  padding-right: 251px;
}

.innerBox2 {
  background-color: tomato;
  height: 50vh;
  width: 100%;
  text-align: center;
  padding-top: 65px;
  
}

.innerBox2 > p {
  
  margin-left: 0px;
  padding-left: 0px;
  width: 600px;
  height: 50px;

}

.innerBox3 {
  background-color: tomato;
  height: 50vh;
  width: 100%;
  z-index: 4px;
}

.image1 {
  position: relative;
  height: 400px;
  width: 400px;
  float: left;
  margin-bottom: 0px;
  margin-left: 92px;
  margin-top: 0px;
  
  top: 80px;

}

button {
  background: #232911;
  border-radius: 10%;
  font-family: 'Courier New', Courier, monospace;
}